/*
  1- General ruls
  2- Media query
  3- Common styles
  4- Sections styles
    4.0 header
    4.1 home section ( showcase )
    4.2 about section
    4.3 portofolio section
    4.4 services section
    4.5 prices section
    4.5 team section
    4.6 blog section
    4.7 contact section
    4.8 footer

    Developed by: Mahmoud Dahdouh
    Github: https://github.com/MahmoudDahdouh
*/

/* Global rules */
:root{
  --main-color: #6195ff;
  --black: #222;
  --gray: #EEE;
  --dark-gray: #aaa;
  --light-gray: #f0f0f0;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Varela Round', sans-serif;
  min-height: 1500px  ;
}
h1,h2,h3,h4,h5,h6{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
}

.container{
  margin: auto;
}


/** Media query **/
/* Small */
@media(min-width: 576px) {
  .container{
    width: 576px;
  }
}
/* Medium */
@media(min-width: 768px) {
  .container{
    width: 768px;
  }
}
/* Large */
@media(min-width: 992px) {
  .container{
    width: 992px;
  }
}
/* Extra large */
@media(min-width: 1200px) {
  .container{
    width: 1200px;
  }
}

/***** Common styles /*****/
.hover-opacity{
  transition: opacity .2s;
}

.hover-opacity:hover{
  opacity: 0.8;
}

/* section title */
.section-header{
  text-align: center;
  margin-bottom: 4rem;
}
.py-6{
  padding-top: 6rem;
    padding-bottom: 6rem;
}

.section-title{
  font-size: 2rem;
  text-transform: capitalize;
}
.span-line{
  width: 100px;
  height: 4px;
  margin: auto;
  display: block;
  background-color: var(--main-color);
}

/**********************************/

/***** Header *****/
header{
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
header .logo{
  width: 150px;
}
/* nav bar */
nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a{
  height: 56px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--black);
  padding: 16px;
  color: var(--white);
}
/* (a.active) -> tag a with active class */
nav a.active::after,
nav a::after{
  content: "";
  width: 0%;
  margin-top: 2px;
  height: 2px;
  display: block;
  transition: 0.2s;
  background-color: var(--main-color);
}
nav a.active::after{
width: 100%;
}
nav a:hover::after{
width: 100%;
}

/***** Home *****/

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../imgs/background/background1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-content{
  color: var(--white);
  text-align: center;
  width: 60%;
  margin: auto;
}
.home-title{
  color: var(--white);
  margin: 0;
  font-size: 6rem;
}
.home-desc{
  margin-top: 20px;
  margin-bottom: 20px;
font-size: 1.5rem;
line-height: 1.7;
letter-spacing: 2px;
}

.btn{
  background-color: var(--white);
  cursor: pointer;
  min-width: 200px;
  min-height: 56px;
  font-size: 1.5rem;
  border: 0;
  text-transform: capitalize;
  border-radius: 4px;
}

.btn-learn{
  background-color: var(--main-color);
  margin-left: 10px;
  color: var(--white)
}


/***** About *****/
.about-section .container{
  display: flex;
  justify-content: space-between;
}

.about-item{
  text-align: center;
  position: relative;
  width: 30%;
  padding: 2rem 1rem;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
}
.about-item:hover .about-item-title{
  color: var(--white);
}
.about-item-img{
  color: var(--main-color);
  font-size: 3rem;
}
.about-item-title{
  font-size: 1.5rem;
  margin-top: 1rem;
text-transform: capitalize;
transition: color 0.5s;
}
.about-item-desc{
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--dark-gray);
}
.about-item a{
  text-decoration: none;
  color: var(--main-color);
  font-size: 1rem;
  text-transform: capitalize;
}

/* about item hover */
.about-item::after{
transition: width 0.5s ease;
content:"";
display: block;
position: absolute; 
z-index: -1;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 0;
}
.about-item:hover::after{
background-color: var(--black);
width: 100%;
}


/***** portofolio *****/
.portofolio-section{
  background-color: var(--light-gray);
}

.portofolio-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portofolio-item{
  width: 33.3333%;
  padding: 8px;
  position: relative;
}

.portofolio-item .layer-content{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portofolio-item img{
  width: 100%;
  height: 100%;
}

.portofolio-item .layer-content{
visibility: hidden;
width:0;
height: 0;
opacity: 0;
transition: height 0.5s, opacity 0.5s;
}

.portofolio-item .layer-content .category{
  color: var(--main-color);
  text-transform: uppercase;
}
.portofolio-item .layer-content .layer-title{
  color: var(--white);
  font-size: 1.5rem;
}
.portofolio-item .layer-content .layer-icons {
margin-top: 16px;
}
.portofolio-item .layer-content .layer-icons i{
 color: #fff;
 background-color: var(--main-color);
 padding: 16px;
 border-radius: 2px;
 cursor: pointer;
}

/*** Hover effect ***/
.layer-content .layer-icons,
.layer-content .layer-title,
.layer-content .category{
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
  transition-delay: .2s;
}

.layer-content .layer-icons{
  transition-delay: .3s;
}

.portofolio-item:hover .layer-content{
  width:100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}
.portofolio-item:hover .category,
.portofolio-item:hover .layer-icons,
.portofolio-item:hover .layer-title
{
  visibility: visible;
  opacity: 1;
}
/***** what we offer *****/
.offer-section{

}
.offer-section .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
  row-gap: 24px;
}
.offer-item{
  cursor:default;
  width: 32%;
  flex-grow: 1;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  padding: 24px;
  display: flex;
  justify-content: space-between;

}
.offer-item i{
  color:var(--main-color);
  width: 15%;
  margin-right: 24px;
  font-size: 48px;
}
.offer-item .offer-title{
text-transform: capitalize;
}
.offer-item .offer-desc{
  margin-top: 10px;
  line-height: 1.5;
  color: var(--dark-gray)
}
/***** why choose us *****/
.service-section{
  background-color: var(--light-gray);
}
.service-section .container{
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.service-section .span-line{
  margin: 0;
}
.service-section .service-desc{
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--dark-gray);
}

.service-section ul i{
 color: var(--main-color);
} 
.service-section .service-content ul li{
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 2%;
  width: 100%;
  list-style-position: inside;
  list-style: none;
  margin-bottom: 1rem;
}

.service-section .service-img ul{
text-align: center;
}
.service-section .service-img ul li{
 width: 10px;
 height: 10px;
 border-radius: 50%;
 display: inline-block;
 background-color: var(--dark-gray);
 transition: background-color 0.2s;
}
.service-section .service-img ul li:hover,
.service-section .service-img ul li.active{
  background-color: var(--main-color);
}
/***** statistics *****/
.statistics-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../imgs/background/background2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.statistics-section .container{
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.statistics-section .statistic-item{
text-align: center;
}
.statistics-section i{
color: var(--main-color);
}
.statistics-section .statistic-number{
  color: var(--white);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}
.statistics-section .statistic-desc{
font-size: 1.5rem;;
}

/***** team *****/
/***** blog *****/
/***** contact *****/
/***** footer *****/