/*
  1- General ruls
  2- Media query
  3- Common styles
  4- Sections styles
    4.0 header
    4.1 home section ( showcase )
    4.2 about section
    4.3 portofolio section
    4.4 services section
    4.5 prices section
    4.5 team section
    4.6 blog section
    4.7 contact section
    4.8 footer

    Developed by: Mahmoud Dahdouh
    Github: https://github.com/MahmoudDahdouh
*/

/* Global rules */
:root{
  --main-color: #6195ff;
  --black: #222;
  --gray: #EEE;
  --dark-gray: #aaa;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  min-height: 1500px  ;
}
h1,h2,h3,h4,h5,h6{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  margin: auto;
}


/** Media query **/
/* Small */
@media(min-width: 576px) {
  .container{
    width: 576px;
  }
}
/* Medium */
@media(min-width: 768px) {
  .container{
    width: 768px;
  }
}
/* Large */
@media(min-width: 992px) {
  .container{
    width: 992px;
  }
}
/* Extra large */
@media(min-width: 1200px) {
  .container{
    width: 1200px;
  }
}

/***** Common styles /*****/
.hover-opacity{
  transition: opacity .2s;
}

.hover-opacity:hover{
  opacity: 0.8;
}

/* section title */
.section-header{
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.section-header .section-title{
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-header span{
  width: 100px;
  height: 4px;
  margin: auto;
  display: block;

  background-color: var(--main-color);
}

/**********************************/

/***** Header *****/
header{
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}
header .logo{
  width: 150px;
}
/* nav bar */
nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a{
  height: 56px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--black);
  padding: 16px;
  color: var(--white);
}
/* (a.active) -> tag a with active class */
nav a.active::after,
nav a::after{
  content: "";
  width: 0%;
  margin-top: 2px;
  height: 2px;
  display: block;
  transition: 0.2s;
  background-color: var(--main-color);
}
nav a.active::after{
width: 100%;
}
nav a:hover::after{
width: 100%;
}

/***** Home *****/

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../imgs/background/background1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-content{
  color: var(--white);
  text-align: center;
  width: 60%;
  margin: auto;
}
.home-title{
  margin: 0;
  font-size: 6rem;
}
.home-desc{
  margin-top: 20px;
  margin-bottom: 20px;
font-size: 1.5rem;
line-height: 1.7;
letter-spacing: 2px;
}

.btn{
  background-color: var(--white);
  cursor: pointer;
  min-width: 200px;
  min-height: 56px;
  font-size: 1.5rem;
  border: 0;
  text-transform: capitalize;
  border-radius: 4px;
}

.btn-learn{
  background-color: var(--main-color);
  margin-left: 10px;
  color: var(--white)
}


/***** About *****/
.about-section .container{
  display: flex;
  justify-content: space-between;
}

.about-item{
  text-align: center;
  position: relative;
  width: 30%;
  padding: 2rem 1rem;
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
}
.about-item:hover .about-item-title{
  color: var(--white);
}
.about-item-img{
  color: var(--main-color);
  font-size: 3rem;
}
.about-item-title{
  font-size: 1.5rem;
  margin-top: 1rem;
text-transform: capitalize;
transition: color 0.5s;
}
.about-item-desc{
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--dark-gray);
}
.about-item a{
  text-decoration: none;
  color: var(--main-color);
  font-size: 1rem;
  text-transform: capitalize;
}

/* about item hover */
.about-item::after{
transition: width 0.5s ease;
content:"";
display: block;
position: absolute; 
z-index: -1;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 0;
}
.about-item:hover::after{
background-color: var(--black);
width: 100%;
}


/***** portofolio *****/
/***** services *****/
/***** prices *****/
/***** team *****/
/***** blog *****/
/***** contact *****/
/***** footer *****/